services:
  database:
    image: postgres:17
    environment:
      POSTGRES_USER: taleb_user
      POSTGRES_PASSWORD: taleb_password
      POSTGRES_DB: taleb_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  db_data:
  redis_data:
